:root {
  --clr-white: #ffffff;
  --clr-gray: #bdbdbd;
  --clr-light-gray: #e0e0e0;
  --clr-very-light-gray: #f2f2f2;
  --clr-mild-gray: #828282;
  --clr-dark-gray1: #4f4f4f;
  --clr-dark-gray2: #4e5150;
  --clr-very-dark-gray: #333333;
  --clr-orange: #f2994a;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-weight: 600;
  color: var(--clr-very-dark-gray);

}





.header__title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-very-dark-gray);
}

@media (max-width: 768px) {
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
}

@media (min-width: 768px) {
  .main {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 22px 0px;
    flex-wrap: wrap;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
}

.products-card, .form-card {
  width: 40%;
  padding: 0;
} 

@media (max-width: 768px) {
 .products-card, .form-card {
  width: 90%;
  padding: 2em;
  margin: 10px auto;
}
}


.product {
  display: flex;
  margin: 20px 0
}

.product__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 13px;
  margin: auto;
}

.product__details {
  margin-left: 1.5rem;
  color: var(--clr-dark-gray2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.product__title {
  font-size: 0.75rem;
  margin: auto;

}

.price {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.price__after {
  color: var(--clr-orange);
  font-size: 0.875rem;
}

.price__before {
  font-size: 0.625rem;
  margin-left: 1rem;
}

.quantityy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border: 1px solid var(--clr-mild-gray);
  border-radius: 12px;
  padding: 1.2em 0.8em;
}

.quantity__btn {
  border: none;
  background-color: var(--clr-light-gray);
  color: var(--clr-mild-gray);
  border-radius: 4px;
}

.quantity__count {
  color: var(--clr-very-dark-gray);
}

.checkout-info {
  margin-top: 5rem;
}

.checkout-info__content {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: var(--clr-very-dark-gray);
  font-size: 0.875rem;
}

.shipping {
  border-top: 1px solid var(--clr-gray);
  border-bottom: 1px solid var(--clr-gray);
}


section.form+section.form {
  margin-top: 3rem;
}

.form__title {
  color: var(--clr-very-dark-gray);
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon {
  color: var(--clr-mild-gray);
  position: absolute;
  bottom: 0.75rem;
}

.icon--left {
  left: 0.8rem;
}

.icon--right {
  right: 0.8rem;
  background-color: var(--clr-light-gray);
  padding: 0.05em 0.2em;
  border-radius: 4px;
}

.form__group label {
  font-size: 0.625rem;
  color: var(--clr-dark-gray1);
  margin-bottom: 0.4rem;
}

.form__group input,
select {
  font-size: 0.75rem;
  color: var(--clr-mild-gray);
  border: 1px solid var(--clr-mild-gray);
  border-radius: 12px;
  padding: 1em 3.4em;
}

select {
  background-color: white;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.county-postcode,
.form__group+.form__group {
  margin-top: 1.2rem;
}






@media (min-width: 45em) {
  .county-postcode .form__group+.form__group {
    margin-left: 1rem;
  }
}

.btn-select .icon--right {
  cursor: pointer;
}

.save-container {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.save-container label {
  color: var(--clr-dark-gray1);
  font-size: 0.625rem;
  margin-left: 0.2rem;
}


fieldset {
  width: 80%;
  margin: auto;
}


.container-payment {
  width: 100%;
  padding: 30px 30px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 460px) {
   .container-payment {
      padding: 15px 7px;
   }
}


.form__radios {
  display: grid;
  grid-gap: 1em;
  gap: 1em;
}

.form__radio {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.form__radio label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-gap: 1em;
  gap: 1em;
}

.icone {
  height: 1em;
  display: inline-block;
  fill: currentColor;
  width: 1em;
  vertical-align: middle;
}

legend {
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-dark-gray2);
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0;
}

.button-finish {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc8080;
  background-color: blue;
  border-radius: 999em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
  gap: 0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-finish-:focus,
.button-finish:hover {
  background-color: #e96363;
}

.button--full {
  width: 100%;
  margin-top: 45px;
}