:root {
  --clr-white: #ffffff;
  --clr-gray: #bdbdbd;
  --clr-light-gray: #e0e0e0;
  --clr-very-light-gray: #f2f2f2;
  --clr-mild-gray: #828282;
  --clr-dark-gray1: #4f4f4f;
  --clr-dark-gray2: #4e5150;
  --clr-very-dark-gray: #333333;
  --clr-orange: #f2994a;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.form-container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

.forms-contato-info {
   width: 65%;
}

@media (max-width: 768px) {
   .forms-contato-info {
      width: 90%;
   }
}

@media (min-width: 769px) and (max-width: 1440px) {
   .forms-contato-info {
      width: 70%;
   }
}

section.form+section.form {
  margin-top: 40px;
}


.form__title {
  color: var(--clr-very-dark-gray);
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon {
  color: var(--clr-mild-gray);
  position: absolute;
  bottom: 0.75rem;
}

.icon--left {
  left: 0.8rem;
}

.form__group label {
  font-size: 0.625rem;
  color: var(--clr-dark-gray1);
  margin-bottom: 0.4rem;
}

.form__group input,
select {
  font-size: 0.75rem;
  color: var(--clr-mild-gray);
  border: 1px solid var(--clr-mild-gray);
  border-radius: 12px;
  padding: 1em 3.4em;
}

select {
  background-color: white;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.county-postcode,
.form__group+.form__group {
  margin-top: 1.2rem;
}


@media (min-width: 45em) {
  .county-postcode .form__group+.form__group {
    margin-left: 1rem;
  }
}


.btn-select .icon--right {
  cursor: pointer;
}



.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}




/* Profie Page
--------------------------------------------------------------*/
.rounded-circle-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}


.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154F1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154F1;
  border-bottom: 2px solid #5A5D79;
}





.info-box {
  padding: 28px 30px;
}

.info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}